.title {
  text-align: center;
  font-size: 50px;
}

.explanation {
  text-align: center;
  color: #8b8787;
}

.options-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 30px;
  padding: 15px;
  border-radius: 15px;
  background: linear-gradient(90deg, rgba(200,234,235,1) 0%, rgba(109,124,133,1) 81%, rgba(49,53,71,0.7763480392156863) 100%);


}

.options-container .option {
  list-style: none;
  cursor: pointer;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 20px;
  transition: all .5s ease-out;
}

.options-container .option.selected {
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.8);
  border: 1px solid #5f5858;
}

.options-container .option:hover {
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.6);
}